.git/
.ipynb_checkpoints/
data/
results/
osmium-tool/
processes/
__pycache__/
logs/
training_checkpoints/
training_checkpoints_new/
envs/
deep_shadows.egg-info/
dist/
examples/
misc/
evaluation_height/